body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-size: cover;
    background-image: url(/static/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

form {
    background-color: rgb(91, 165, 165);
    height: 49vh;
    width: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 20px;
    border-radius: 5px;
    margin: auto;
    margin-right: 73px;
    border-radius: 17px;
}

form > {
    border: 0px;
    padding: 10px,10px,10px;
}

input {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    padding: 10px;
    background-color: #eee;
    border-radius: 25px;
}
input[type="submit" i] {
    appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    color: buttontext;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
    cursor: pointer;
}

h1 {
    color: rgb(0, 0, 0);
    font-weight: bolder;
    border: solid, 10px;
}

a {
    padding-top: 5px;
}

p {
    color: black;
}