body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: auto;
  background-color: rgb(255 255 255);
  color: black;
  display: grid;
  grid-template-rows: auto;
}

button[type="submit"] {
    display: flex;
    justify-content: space-evenly;
}

form > button {
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
}

input#question {
    width: auto;
}

header {
  background-color: #F1F1F1;
  text-align: center;
  /* display: flex; */
  /* justify-content: flex-start; */
}



h1 {
    display: flex;
    justify-content: flex-start;
}

img {
    width: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.question-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.question-form input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  border-image: linear-gradient(#f090bb, #fbc2cd, #fadd8d, #82deab, #93ecea, #3ecacb, #00bfdc, #9ea3e4, #ca7ec4) 1;
}

.question-form input[type="submit"] {
  border-image: linear-gradient(#f090bb, #fbc2cd, #fadd8d, #82deab, #93ecea, #3ecacb, #00bfdc, #9ea3e4, #ca7ec4) 1;
  color: black;
  padding: 10px 20px;
  border-style: solid;
  cursor: pointer;
  background-color: #93ecea;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 311px;
  font-size: 18px;
}

.question-form input[type="submit"]:hover {
  background-color: #45a049;
}

.sort-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.question-list {
  border: 1px solid;
}