<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mainpage.css') }}">
  <title>Protected Page</title>
</head>
<header>
  <h1>Internal Q&A Platform!</h1>
  <img src="static/images/logo.svg">
</header>
<body>
  <p>You have successfully logged in {{ user_logged }}.</p>

  <form class="question-form" method="POST">
    {{ form1.hidden_tag() }}
    {{ form1.question.label }} {{ form1.question() }}<br>
    {{ form1.submit() }}
  </form>

  <h2>All Questions:</h2>
  <form method="GET">
    <button type="submit" name="sort_by" value="id">Sort by newest</button>
    <button type="submit" name="sort_by" value="upvotes">Sort by Upvotes</button>
  </form>
  {% for question in questions %}
    <div class="question">
      <h3>{{ question.author }}</h3>
      <p>{{ question.body }}</p>
      <form action="{{ url_for('get_reply', question_id=question.id) }}" method="GET">
        <button type="submit">View Thread</button>
      </form>
      <form action="{{ url_for('upvote', question_id=question.id) }}" method="POST">
        <button type="submit" name="upvote">Upvote</button>
      </form>
      <p>Upvotes: {{ question.upvotes }}</p>
      <p>Answers:{{ question.replies }}</p>
    </div>
  {% endfor %}

  <form action="{{ url_for('logout') }}" method="post">
    <input type="submit" value="Logout">
  </form>
</body>
</html>