<!DOCTYPE html>
<html>
<head>
  <title>Protected Page</title>
</head>
<body>
  <h1>Welcome to the protected page!</h1>
  <p>You have successfully logged in {{user_logged}}.</p>

  <form class="question-form" method="POST">
    {{ form1.hidden_tag() }}
    {{ form1.question.label }} {{ form1.question() }}<br>
    {{ form1.submit() }}
  </form>

  <h2>All Questions:</h2>
  {% for question in questions %}
    <div class="question">
      <h3>{{ question.author }}</h3>
      <p>{{ question.body }}</p>
      <form action="{{ url_for('get_reply', question_id=question.id) }}" method="GET">
        <button type="submit">View/Send Answer</button>
      </form>
      <p>Upvotes: {{ question.upvotes }}</p>
      <p>Replies:{{question.replies}}</p>
    </div>
  {% endfor %}


  <form action="{{ url_for('logout') }}" method="post">
    <input type="submit" value="Logout">
  </form>
</body>
</html>