<!DOCTYPE html>
<html>
<head>
    <title>Question {{reply.id}}</title>
</head>
<body>
    <h1>Question: {{reply.body}}</h1>
    <p>By: {{user.username}}</p>
    <form class="question-form" method="POST">
        {{ form1.hidden_tag() }}
        {{ form1.answer.label }} {{ form1.answer() }}<br>
        {{ form1.submit() }}
      </form>

    <h2>Answers</h2>
    {% for answer in answers %}
    <div class="answer">
      <h3>User: {{ userDB.filter_by(id=answer.author_id).first().username }}</h3>
      <p>{{ answer.body }}</p>
      <p>Upvotes: {{ answer.upvotes }}</p>
      <form action="{{ url_for('upvote_answer',question_id = reply.id, answer_id=answer.id) }}" method="POST">
        <button type="submit" name="upvote">Upvote</button>
      </form>
      
    </div>
  {% endfor %}
    <form action="{{ url_for('protected') }}" method="GET">
        <button type="submit">Back Home</button>
    </form>
</body>
</html>